.principal {
    height: 100%;
    padding-top: 50px;
}

.container {
    background: #cad3d9;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom:200px;
    max-width: 50%;
    border-radius: 20px;
}

.titulo {
    text-align: center;
    padding-bottom: 1em;
}

.botao {
    width: 80%;
}