.habilidadeLayout {
    margin-top: 6em;
    margin-bottom: 1em;
}

.bordaFormulario {
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
    border: 0.2rem solid #d4c9c9;
}

.margemTitulo {
    margin-top: 2.5em;
    margin-bottom: 1em;
    padding-left: 0;
    border-bottom: 0.2rem solid #d4c9c9;
}

.tituloFormulario {
    padding-bottom: 20px;
    text-align: center;
}

.listaHabilidade {
    padding-right: 0;
    margin-bottom: 45px;
}