.bordaFormulario {
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
    border: 0.2rem solid #d4c9c9;
}

.layoutTitulo {
    margin-top: 2em;
    margin-bottom: 50px;
    margin-left: 0;
    padding-left: 0;
    border-bottom: 0.2rem solid #d4c9c9;
    display: inline-block;
}

.bordaPerfil {
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
    border: 0.2rem solid #d4c9c9;
    width: 75%;
    margin: 0 auto;
}

.margemTitulos {
    margin-top: 20px;
    padding-left: 0;
}